body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

nav {
  background-color: #111827;
  padding: 1rem;
}

nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #38bdf8;
}

.page-container {
  padding: 2rem;
}